TIMESCALE=postgres://tulip@timescale:5432/tulip

TRAFFIC_DIR_HOST=./pcaps
TRAFFIC_DIR_DOCKER=/traffic

TICK_START=
TICK_LENGTH=120000

FLAG_REGEX=[A-Z0-9]{31}=

VM_IP=

TULIP_FRONTEND_PORT=65002

FLAGID_SCRAPE=
FLAGID_ENDPOINT=http://flagidendpoint:8000/flagids.json

FLAG_LIFETIME=
FLAG_VALIDATOR_TYPE=
FLAG_VALIDATOR_TEAM=42

DUMP_PCAPS=
PCAP_OVER_IP=

SURICATA_DIR_HOST=
