{
    "base_path": "/root/",
    "vulnbox_ip": "",
    "gameserver_url": "http://10.10.0.1:8080/flags",
    "team_token": "",
    "number_of_teams": 85,
    "teams_format": "f'10.60.{i}.1'",
    "game_interface": "game",
    "github_org": "",
    "github_token": "",
    "tool_repos_org": "",
    "tool_repos_token": "",
    "root_password": "",
    "packmate_password": "",
    "ctffarm_password": "",
    "flag_dashboard_key": "",
    "flag_dashboard_password": "",
    "exploit_vm_endpoint": "",
    "exploit_vm_pubkey": "",
    "vulnbox_privkey": ""
}
